# Project 07 -- Ansh Tandon

**TA Help:** John Smith, Alice Jones

- Help with figuring out how to write a function.
    
**Collaboration:** Friend1, Friend2
    
- Helped figuring out how to load the dataset.
- Helped debug error with my plot.

## Question 1

In [1]:
import pandas as pd

In [29]:
myyear = 1880

In [30]:
myDF = pd.read_csv(f'/anvil/projects/tdm/data/noaa/{myyear}.csv', header=None, names=["id","date","element_code","value","mflag","qflag","sflag","obstime"])

In [31]:
myDF.shape

(370779, 8)

In [32]:
us_records = myDF[myDF['id'].str.startswith('US')]

In [33]:
us_records.shape

(48428, 8)

In [34]:
us_records.head()

              id      date element_code  value mflag qflag sflag  obstime
858  USC00015555  18800101         TMAX    222   NaN   NaN     0      NaN
859  USC00015555  18800101         TMIN    106   NaN   NaN     0      NaN
860  USC00015555  18800101         PRCP     13   NaN   NaN     0      NaN
861  USC00015555  18800101         SNOW      0   NaN   NaN     0      NaN
862  USC00023096  18800101         PRCP      0   NaN   NaN     F      NaN

In [35]:
myyear = 1881

In [36]:
myDF = pd.read_csv(f'/anvil/projects/tdm/data/noaa/{myyear}.csv', names=["id","date","element_code","value","mflag","qflag","sflag","obstime"], header=None)

In [37]:
us_records = myDF[myDF['id'].str.startswith('US')]

In [38]:
us_records.shape

(48196, 8)

In [39]:
myyear = 1882

In [40]:
myDF = pd.read_csv(f'/anvil/projects/tdm/data/noaa/{myyear}.csv', names=["id","date","element_code","value","mflag","qflag","sflag","obstime"], header=None)

In [41]:
us_records = myDF[myDF['id'].str.startswith('US')]

In [42]:
us_records.shape

(50664, 8)

In [43]:
myyear = 1883

In [44]:
myDF = pd.read_csv(f'/anvil/projects/tdm/data/noaa/{myyear}.csv', names=["id","date","element_code","value","mflag","qflag","sflag","obstime"], header=None)

In [45]:
us_records = myDF[myDF['id'].str.startswith('US')]

In [46]:
us_records.shape

(52363, 8)

In [47]:
def get_noaa_data (myyear: int) -> pd.DataFrame:
    """
    This function accepts a 4-digit year as input, and returns a data frame that contains the NOAA data for that year

    Args:
    myyear (int): This is a 4-digit year for which we will load a data frame to be returned.

    Returns:
    myDF (pd.DataFrame): This is the data frame that contains the NOAA data for that year
    """
    myfilepath = f'/anvil/projects/tdm/data/noaa/{myyear}.csv'
    mycolumnnames=["id","date","element_code","value","mflag","qflag","sflag","obstime"]
    myDF = pd.read_csv(myfilepath, names=mycolumnnames)
    myDF['date'] = pd.to_datetime(myDF['date'], format="%Y%m%d")
    return myDF

In [48]:
get_noaa_data(1880)

                 id       date element_code  value mflag qflag sflag  obstime
0       AGE00147705 1880-01-01         PRCP      0   NaN   NaN     E      NaN
1       AGE00147708 1880-01-01         PRCP     36   NaN   NaN     E      NaN
2       AGE00147709 1880-01-01         PRCP     36   NaN   NaN     E      NaN
3       AGE00147712 1880-01-01         PRCP      0   NaN   NaN     E      NaN
4       AGE00147713 1880-01-01         TMAX     52   NaN   NaN     E      NaN
...             ...        ...          ...    ...   ...   ...   ...      ...
370774  USW00093852 1880-12-31         TMAX     39   NaN   NaN     X      NaN
370775  USW00093852 1880-12-31         TMIN    -17   NaN   NaN     X      NaN
370776  USW00094728 1880-12-31         TMAX   -122   NaN   NaN     0      NaN
370777  USW00094728 1880-12-31         TMIN   -194   NaN   NaN     0      NaN
370778  USW00094728 1880-12-31         PRCP      0   NaN   NaN     0      NaN

[370779 rows x 8 columns]

In [50]:
get_noaa_data(1880).shape[0]

370779

In [51]:
newDF = get_noaa_data(1880)

In [53]:
newDF[newDF['id'].str.startswith('US')].shape

(48428, 8)

In [54]:
newDF = get_noaa_data(1881)

In [55]:
newDF[newDF['id'].str.startswith('US')].shape

(48196, 8)

In [56]:
newDF = get_noaa_data(1882)

In [57]:
newDF[newDF['id'].str.startswith('US')].shape

(50664, 8)

In [58]:
newDF = get_noaa_data(1883)

In [59]:
newDF[newDF['id'].str.startswith('US')].shape

(52363, 8)

In [165]:
mydict = {}
mylist = list(range(1880, 1884))
for myyear in mylist:
    newDF = get_noaa_data(myyear)
    mydict.update({myyear: newDF[newDF['id'].str.startswith('US')].shape[0]})

In [166]:
mydict

{1880: 48428, 1881: 48196, 1882: 50664, 1883: 52363}

In [162]:
def get_dict_us_sizes (mylist: int) -> dict:
    """
    This function accepts a list of 4-digit years as input, and returns a dictionary that contains the NOAA data for each of the years.

    Args:
    mylist (int): This is a list of 4-digit years for which we will load a dictionary to be returned.

    Returns:
    mydict (dict): This is the dictionary that contains the NOAA data for each of the years provided
    """
    mydict = {}
    for myyear in mylist:
        newDF = get_noaa_data(myyear)
        mydict.update({myyear: newDF[newDF['id'].str.startswith('US')].shape[0]})
    return mydict

In [163]:
get_dict_us_sizes(list(range(1880, 1884)))

{1880: 48428, 1881: 48196, 1882: 50664, 1883: 52363}

Markdown notes and sentences and analysis written here.

## Question 2

In [167]:
mydict

{1880: 48428, 1881: 48196, 1882: 50664, 1883: 52363}

In [161]:
mydescendingdict = dict([key, mydict[key]] for key in sorted(mydict, key=mydict.get, reverse=True))

In [78]:
mydescendingdict

{1883: 52363, 1882: 50664, 1880: 48428, 1881: 48196}

In [156]:
def get_dict_us_sizes_reverse (mylist: int) -> dict:
    """
    This function accepts a list of 4-digit years as input, and returns a dictionary in reverse order that contains the NOAA data for USA for each of the years.

    Args:
    mylist (int): This is a list of 4-digit years for which we will load a dictionary to be returned.

    Returns:
    mydescendingdict (dict): This is the dictionary that contains the NOAA data for USA for each of the years provided in reverse order.
    """
    mydict = {}
    for myyear in mylist:
        newDF = get_noaa_data(myyear)
        mydict.update({myyear: newDF[newDF['id'].str.startswith('US')].shape[0]})
    mydescendingdict = dict([key, mydict[key]] for key in sorted(mydict, key=mydict.get, reverse=True))
    return mydescendingdict

In [157]:
get_dict_us_sizes_reverse(list(range(1880, 1884)))

{1883: 52363, 1882: 50664, 1880: 48428, 1881: 48196}

Markdown notes and sentences and analysis written here.

## Question 3

In [97]:
newDF = get_noaa_data(1880)

In [98]:
newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ].shape

(203, 8)

In [99]:
newDF = get_noaa_data(1881)

In [100]:
newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ].shape

(266, 8)

In [101]:
newDF = get_noaa_data(1882)

In [102]:
newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ].shape

(253, 8)

In [103]:
newDF = get_noaa_data(1883)

In [104]:
newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ].shape

(187, 8)

In [93]:
mydict = {}
mylist = list(range(1880, 1884))
for myyear in mylist:
    newDF = get_noaa_data(myyear)
    mydict.update({myyear: newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ].shape[0]})

In [94]:
mydict

{1880: 203, 1881: 266, 1882: 253, 1883: 187}

In [154]:
def get_dict_us_sizes_snow_days (mylist: int) -> dict:
    """
    This function accepts a list of 4-digit years as input, and returns a dictionary that contains the NOAA data for USA for each of the years with positive snowfall.

    Args:
    mylist (int): This is a list of 4-digit years for which we will load a dictionary to be returned.

    Returns:
    mydict (dict): This is the dictionary that contains the NOAA data for USA for each of the years provided with positive snowfall.
    """
    mydict = {}
    for myyear in mylist:
        newDF = get_noaa_data(myyear)
        mydict.update({myyear: newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ].shape[0]})
    return mydict

In [155]:
get_dict_us_sizes_snow_days(list(range(1880,1884)))

{1880: 203, 1881: 266, 1882: 253, 1883: 187}

Markdown notes and sentences and analysis written here.

## Question 4

In [109]:
newDF = get_noaa_data(1880)

In [110]:
snowyDF = newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ]

In [111]:
snowyDF.shape

(203, 8)

In [113]:
snowyDF.groupby('id').size()

id
USC00015555     1
USC00034251     4
USC00034988     5
USC00064767    15
USC00134049    15
USC00144559     6
USC00271682    17
USC00288878     9
USC00313228     3
USC00313638     3
USC00314938     3
USC00316001     1
USC00316103     1
USC00317727     5
USC00319191     1
USC00319462     1
USC00447004     8
USC00463100    13
USC00464045    23
USC00469368    17
USW00013872     1
USW00024128    35
USW00053875     3
USW00094728    13
dtype: int64

In [114]:
snowyDF.groupby('id').size().idxmax()

'USW00024128'

In [115]:
snowyDF.groupby('id').size().max()

35

In [116]:
newDF = get_noaa_data(1881)

In [117]:
snowyDF = newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ]

In [118]:
snowyDF.groupby('id').size()

id
USC00015555     2
USC00034251     3
USC00034988     3
USC00064767    20
USC00134049    28
USC00144559     8
USC00271682    24
USC00288878     6
USC00313228     2
USC00313638     3
USC00316001     4
USC00317727     1
USC00319191     1
USC00319462     1
USC00447004     5
USC00463100    20
USC00464045    33
USC00469368    13
USC00475484    24
USW00014971    19
USW00024128    21
USW00053875    10
USW00094728    15
dtype: int64

In [119]:
snowyDF.groupby('id').size().idxmax()

'USC00464045'

In [120]:
newDF = get_noaa_data(1882)

In [121]:
snowyDF = newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ]

In [122]:
snowyDF.groupby('id').size()

id
USC00034251     3
USC00034988     4
USC00064767    25
USC00134049     5
USC00176902    49
USC00254812     8
USC00264939     2
USC00271682    38
USC00313228     4
USC00316001     3
USC00317727     3
USC00319191     6
USC00447004     6
USC00463100     7
USC00464045    25
USC00469368     5
USP00CA0002     1
USW00014971     9
USW00024128    29
USW00053875     5
USW00094728    16
dtype: int64

In [123]:
snowyDF.groupby('id').size().idxmax()

'USC00176902'

In [124]:
newDF = get_noaa_data(1883)

In [125]:
snowyDF = newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ]

In [126]:
snowyDF.groupby('id').size()

id
USC00015555     1
USC00034251     1
USC00034988     3
USC00064767     7
USC00134049    13
USC00176902    43
USC00271682    27
USC00316001     1
USC00319191     3
USC00319462     1
USC00406012     1
USC00408108     1
USC00440755     1
USC00447004     2
USC00464045    28
USC00469368     8
USW00014971     5
USW00023068     5
USW00024128    10
USW00053875     4
USW00094728    22
dtype: int64

In [127]:
snowyDF.groupby('id').size().idxmax()

'USC00176902'

In [128]:
mydict = {}
mylist = list(range(1880, 1884))
for myyear in mylist:
    newDF = get_noaa_data(myyear)
    snowyDF = newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ]
    mydict.update({myyear: snowyDF.groupby('id').size().idxmax()})

In [129]:
mydict

{1880: 'USW00024128',
 1881: 'USC00464045',
 1882: 'USC00176902',
 1883: 'USC00176902'}

In [152]:
def get_dict_us_sizes_largest_snowfall (mylist: int) -> dict:
    """
    This function accepts a list of 4-digit years as input, and returns a dictionary that contains the NOAA data for USA for each year's largest positive snowfall.

    Args:
    mylist (int): This is a list of 4-digit years for which we will load a dictionary to be returned.

    Returns:
    mydict (dict): This is the dictionary that contains the NOAA data for USA for each year's largest positive snowfall.
    """
    mydict = {}
    for myyear in mylist:
        newDF = get_noaa_data(myyear)
        snowyDF = newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ]
        mydict.update({myyear: snowyDF.groupby('id').size().idxmax()})
    return mydict

In [153]:
get_dict_us_sizes_largest_snowfall(list(range(1880, 1884)))

{1880: 'USW00024128',
 1881: 'USC00464045',
 1882: 'USC00176902',
 1883: 'USC00176902'}

Markdown notes and sentences and analysis written here.

## Question 5

In [133]:
newDF = get_noaa_data(1880)

In [134]:
snowyDF = newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ]

In [135]:
snowyDF.groupby('id')['value'].sum().idxmax()

'USC00464045'

In [136]:
newDF = get_noaa_data(1881)

In [137]:
snowyDF = newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ]

In [138]:
snowyDF.groupby('id')['value'].sum().idxmax()

'USW00014971'

In [139]:
newDF = get_noaa_data(1882)

In [140]:
snowyDF = newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ]

In [141]:
snowyDF.groupby('id')['value'].sum().idxmax()

'USC00176902'

In [142]:
newDF = get_noaa_data(1883)

In [143]:
snowyDF = newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ]

In [144]:
snowyDF.groupby('id')['value'].sum().idxmax()

'USC00464045'

In [168]:
mydict = {}
mylist = list(range(1880, 1884))
for myyear in mylist:
    newDF = get_noaa_data(myyear)
    snowyDF = newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ]
    mydict.update({myyear: snowyDF.groupby('id')['value'].sum().idxmax()})

In [169]:
mydict

{1880: 'USC00464045',
 1881: 'USW00014971',
 1882: 'USC00176902',
 1883: 'USC00464045'}

In [150]:
def get_dict_us_sizes_largest_snowfall (mylist: int) -> dict:
    """
    This function accepts a list of 4-digit years as input, and returns a dictionary that contains the NOAA data for USA based on
    the sum of the values of largest snowfall for each of the years and the id that achieves the highest.

    Args:
    mylist (int): This is a list of 4-digit years for which we will load a dictionary to be returned.

    Returns:
    mydict (dict): This is the dictionary that contains the NOAA data for USA based on
    the sum of the values of largest snowfall for each of the years and the id that achieves the highest.
    """
    mydict = {}
    for myyear in mylist:
        newDF = get_noaa_data(myyear)
        snowyDF = newDF[ (newDF['id'].str.startswith('US')) & (newDF['element_code'] == "SNOW") & (newDF['value'] > 0) ]
        mydict.update({myyear: snowyDF.groupby('id')['value'].sum().idxmax()})
    return mydict

In [151]:
get_dict_us_sizes_largest_snowfall(list(range(1880, 1884)))

{1880: 'USC00464045',
 1881: 'USW00014971',
 1882: 'USC00176902',
 1883: 'USC00464045'}

Markdown notes and sentences and analysis written here.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.