# Project 09 -- Ansh Tandon

**TA Help:** John Smith, Alice Jones

- Help with figuring out how to write a function.
    
**Collaboration:** Friend1, Friend2
    
- Helped figuring out how to load the dataset.
- Helped debug error with my plot.

## Question 1

In [2]:
import pandas as pd

In [3]:
myDF = pd.read_csv('/anvil/projects/tdm/data/whin/weather.csv')

In [4]:
myDF.head()

,station_id,latitude,longitude,name,observation_time,temperature,temperature_high,temperature_low,humidity,solar_radiation,...,wind_gust_direction_degrees,pressure,soil_temp_1,soil_temp_2,soil_temp_3,soil_temp_4,soil_moist_1,soil_moist_2,soil_moist_3,soil_moist_4
0,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-10T04:00:00Z,70.0,71.0,70.0,83.0,NaN,...,247.5,30.05,77.0,78.0,76.0,74.0,24.0,24.0,10.0,9.0
1,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-10T04:15:00Z,69.0,70.0,69.0,84.0,NaN,...,247.5,30.04,76.0,78.0,76.0,74.0,24.0,25.0,10.0,9.0
2,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:00:00Z,76.0,77.0,76.0,76.0,NaN,...,202.5,29.89,80.0,80.0,78.0,75.0,31.0,30.0,12.0,10.0
3,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:15:00Z,76.0,76.0,76.0,77.0,NaN,...,202.5,29.88,80.0,80.0,78.0,75.0,31.0,31.0,12.0,10.0
4,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:30:00Z,76.0,76.0,76.0,77.0,NaN,...,202.5,29.88,80.0,80.0,78.0,75.0,32.0,31.0,12.0,10.0

In [6]:
myDF['station_id'].value_counts()

station_id
1      71631
20     56917
147    45600
143    45593
146    45579
145    45509
144    45495
142    45395
149    44060
159    43563
153    43559
157    43534
155    42993
160    42810
156    42807
151    42806
164    38791
163    37908
166    30242
167    27463
168    18581
169    14905
172    14812
179    14772
176    14402
173    13648
175    13314
171    13311
Name: count, dtype: int64

In [7]:
myDF.groupby('station_id').size()

station_id
1      71631
20     56917
142    45395
143    45593
144    45495
145    45509
146    45579
147    45600
149    44060
151    42806
153    43559
155    42993
156    42807
157    43534
159    43563
160    42810
163    37908
164    38791
166    30242
167    27463
168    18581
169    14905
171    13311
172    14812
173    13648
175    13314
176    14402
179    14772
dtype: int64

Question 1 Part C:
The first one that uses value_counts() prints out hte results sorted in order according to the number of counts, like the number of records for each station. The second one that uses groupby() when printed gives the results sorted in order according to the station id. Also with the second one you need to take the size of each group.

## Question 2

In [8]:
myDF.isnull()

,station_id,latitude,longitude,name,observation_time,temperature,temperature_high,temperature_low,humidity,solar_radiation,...,wind_gust_direction_degrees,pressure,soil_temp_1,soil_temp_2,soil_temp_3,soil_temp_4,soil_moist_1,soil_moist_2,soil_moist_3,soil_moist_4
0,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,False,False,False,False,False,False,False,False,False,False,...,True,False,True,True,True,True,True,True,True,True
999996,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,True,True,True,True
999997,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,True,True,True,True
999998,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,True,True,True,True
999999,False,False,False,False,False,False,False,False,False,False,...,False,False,True,True,True,True,True,True,True,True

In [10]:
myDF.isnull().sum()

station_id                          0
latitude                            0
longitude                           0
name                                0
observation_time                    0
temperature                      4176
temperature_high                 4123
temperature_low                  4123
humidity                         4162
solar_radiation                 48104
solar_radiation_high            12828
rain                                0
rain_inches_last_hour               0
wind_speed_mph                   4032
wind_direction_degrees          95545
wind_gust_speed_mph                 0
wind_gust_direction_degrees     94216
pressure                            0
soil_temp_1                    114043
soil_temp_2                    114041
soil_temp_3                    114037
soil_temp_4                    114036
soil_moist_1                   114124
soil_moist_2                   114170
soil_moist_3                   114174
soil_moist_4                   114150
dtype: int64

In [12]:
myDF.isnull().sum().sum()

1184084

In [13]:
myDF_cleaned = myDF.dropna()

In [14]:
myDF_cleaned

,station_id,latitude,longitude,name,observation_time,temperature,temperature_high,temperature_low,humidity,solar_radiation,...,wind_gust_direction_degrees,pressure,soil_temp_1,soil_temp_2,soil_temp_3,soil_temp_4,soil_moist_1,soil_moist_2,soil_moist_3,soil_moist_4
12823,1,40.938940,-86.474180,WHIN001-PULA001,2019-11-21T19:15:00Z,52.0,52.0,52.0,94.0,31.0,...,225.0,29.805,46.0,44.0,44.0,44.0,7.0,14.0,11.0,9.0
12824,1,40.938940,-86.474180,WHIN001-PULA001,2019-11-21T19:30:00Z,52.0,52.0,52.0,94.0,24.0,...,225.0,29.805,46.0,44.0,44.0,44.0,6.0,14.0,11.0,9.0
12825,1,40.938940,-86.474180,WHIN001-PULA001,2019-11-21T19:45:00Z,52.0,52.0,52.0,95.0,23.0,...,225.0,29.810,46.0,44.0,44.0,44.0,6.0,14.0,11.0,9.0
12826,1,40.938940,-86.474180,WHIN001-PULA001,2019-11-21T20:00:00Z,52.0,52.0,52.0,94.0,29.0,...,225.0,29.813,46.0,44.0,44.0,44.0,6.0,14.0,11.0,9.0
12827,1,40.938940,-86.474180,WHIN001-PULA001,2019-11-21T20:15:00Z,52.0,52.0,52.0,95.0,17.0,...,225.0,29.814,46.0,44.0,44.0,44.0,6.0,14.0,11.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973747,179,40.386114,-87.101296,WHIN012E-WARR002,2021-03-12T04:00:00Z,42.0,42.0,42.0,78.0,0.0,...,337.5,30.283,48.0,48.0,47.0,46.0,7.0,7.0,4.0,2.0
973748,179,40.386114,-87.101296,WHIN012E-WARR002,2021-03-12T04:15:00Z,42.0,42.0,42.0,79.0,0.0,...,337.5,30.286,48.0,48.0,47.0,46.0,7.0,7.0,4.0,2.0
973749,179,40.386114,-87.101296,WHIN012E-WARR002,2021-03-12T04:30:00Z,41.0,42.0,41.0,79.0,0.0,...,337.5,30.287,48.0,48.0,47.0,46.0,7.0,7.0,4.0,2.0
973750,179,40.386114,-87.101296,WHIN012E-WARR002,2021-03-12T04:45:00Z,41.0,41.0,41.0,79.0,0.0,...,337.5,30.295,48.0,48.0,47.0,46.0,7.0,7.0,4.0,2.0
973751,179,40.386114,-87.101296,WHIN012E-WARR002,2021-03-12T05:00:00Z,42.0,42.0,41.0,78.0,0.0,...,337.5,30.295,48.0,48.0,47.0,46.0,7.0,7.0,4.0,2.0

In [15]:
myDF_cleaned.isnull().sum()

station_id                     0
latitude                       0
longitude                      0
name                           0
observation_time               0
temperature                    0
temperature_high               0
temperature_low                0
humidity                       0
solar_radiation                0
solar_radiation_high           0
rain                           0
rain_inches_last_hour          0
wind_speed_mph                 0
wind_direction_degrees         0
wind_gust_speed_mph            0
wind_gust_direction_degrees    0
pressure                       0
soil_temp_1                    0
soil_temp_2                    0
soil_temp_3                    0
soil_temp_4                    0
soil_moist_1                   0
soil_moist_2                   0
soil_moist_3                   0
soil_moist_4                   0
dtype: int64

Markdown notes and sentences and analysis written here.

## Question 3

In [19]:
myDFcleaned = myDF.dropna(subset = ['temperature']).copy()

In [20]:
myDFcleaned.shape

(995824, 26)

In [22]:
myDF.shape

(1000000, 26)

In [23]:
myDFcleaned.head()

,station_id,latitude,longitude,name,observation_time,temperature,temperature_high,temperature_low,humidity,solar_radiation,...,wind_gust_direction_degrees,pressure,soil_temp_1,soil_temp_2,soil_temp_3,soil_temp_4,soil_moist_1,soil_moist_2,soil_moist_3,soil_moist_4
0,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-10T04:00:00Z,70.0,71.0,70.0,83.0,NaN,...,247.5,30.05,77.0,78.0,76.0,74.0,24.0,24.0,10.0,9.0
1,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-10T04:15:00Z,69.0,70.0,69.0,84.0,NaN,...,247.5,30.04,76.0,78.0,76.0,74.0,24.0,25.0,10.0,9.0
2,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:00:00Z,76.0,77.0,76.0,76.0,NaN,...,202.5,29.89,80.0,80.0,78.0,75.0,31.0,30.0,12.0,10.0
3,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:15:00Z,76.0,76.0,76.0,77.0,NaN,...,202.5,29.88,80.0,80.0,78.0,75.0,31.0,31.0,12.0,10.0
4,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:30:00Z,76.0,76.0,76.0,77.0,NaN,...,202.5,29.88,80.0,80.0,78.0,75.0,32.0,31.0,12.0,10.0

In [24]:
myDFcleaned['location'] = myDFcleaned['latitude'].astype(str) + '_' +  myDFcleaned['longitude'].astype(str)

In [25]:
myDFcleaned.head()

,station_id,latitude,longitude,name,observation_time,temperature,temperature_high,temperature_low,humidity,solar_radiation,...,pressure,soil_temp_1,soil_temp_2,soil_temp_3,soil_temp_4,soil_moist_1,soil_moist_2,soil_moist_3,soil_moist_4,location
0,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-10T04:00:00Z,70.0,71.0,70.0,83.0,NaN,...,30.05,77.0,78.0,76.0,74.0,24.0,24.0,10.0,9.0,40.93894_-86.47418
1,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-10T04:15:00Z,69.0,70.0,69.0,84.0,NaN,...,30.04,76.0,78.0,76.0,74.0,24.0,25.0,10.0,9.0,40.93894_-86.47418
2,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:00:00Z,76.0,77.0,76.0,76.0,NaN,...,29.89,80.0,80.0,78.0,75.0,31.0,30.0,12.0,10.0,40.93894_-86.47418
3,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:15:00Z,76.0,76.0,76.0,77.0,NaN,...,29.88,80.0,80.0,78.0,75.0,31.0,31.0,12.0,10.0,40.93894_-86.47418
4,1,40.93894,-86.47418,WHIN001-PULA001,2019-07-11T04:30:00Z,76.0,76.0,76.0,77.0,NaN,...,29.88,80.0,80.0,78.0,75.0,32.0,31.0,12.0,10.0,40.93894_-86.47418

In [26]:
myDFcleaned.groupby('location')['temperature'].mean()

location
40.10483_-86.86619                    56.057495
40.1492432088387_-86.7371410131454    61.413324
40.16179_-87.35246                    54.052897
40.2709571472446_-87.1486035394257    49.803342
40.2967994865571_-87.3902853950858    57.855233
40.30156_-87.48248                    58.889855
40.37634_-86.59591                    54.794076
40.38116_-86.40269                    47.765668
40.3840069271445_-87.31664031744      59.552215
40.38539_-87.51034                    55.115662
40.3861140862113_-87.1012964844704    59.383360
40.42124_-86.84642                    50.742410
40.43134_-86.53464                    55.081819
40.48079_-87.20682                    51.730032
40.4869749155437_-87.4914180859923    58.971553
40.51432_-86.45856                    55.183031
40.53722_-86.95342                    55.070667
40.5485_-87.12477                     54.898998
40.58629_-87.43654                    54.676701
40.59057_-86.39155                    55.307808
40.70178_-86.70649                    55.482287
40.78049_-86.89576                    54.791890
40.84436_-86.18173                    54.942505
40.93894_-86.47418                    49.883742
40.9700622558594_-86.9013715815608    59.919768
40.97061_-86.35304                    55.292530
40.98224_-86.38542                    54.206106
41.01865_-86.7101                     53.836086
Name: temperature, dtype: float64

Markdown notes and sentences and analysis written here.

## Question 4

In [40]:
def avg_temp_location(file_location) -> pd.Series: 
    """
    This function takes in a file location of the exact file that needs to be analyzed, and then creates a new dataframe where the temperature values are null. After that, 
    the function combines the latitude and longitude columns as a new column called 'location'. Finally, that new data column is grouped and then is paired with the 
    average temperature for each of the location, which is the series that will be returned. 
    
    Args:
    file_location - the exact location in anvil of the specific file to be analyzed

    
    Returns:
    A series that has all the new locations and the average temperatures for each of the locations
    """
    myDF = pd.read_csv(file_location)
    myDFcleaned = myDF.dropna(subset = ['temperature']).copy()
    myDFcleaned['location'] = myDFcleaned['latitude'].astype(str) + '_' +  myDFcleaned['longitude'].astype(str)
    return myDFcleaned.groupby('location')['temperature'].mean()

In [41]:
avg_temp_location('/anvil/projects/tdm/data/whin/weather.csv')

location
40.10483_-86.86619                    56.057495
40.1492432088387_-86.7371410131454    61.413324
40.16179_-87.35246                    54.052897
40.2709571472446_-87.1486035394257    49.803342
40.2967994865571_-87.3902853950858    57.855233
40.30156_-87.48248                    58.889855
40.37634_-86.59591                    54.794076
40.38116_-86.40269                    47.765668
40.3840069271445_-87.31664031744      59.552215
40.38539_-87.51034                    55.115662
40.3861140862113_-87.1012964844704    59.383360
40.42124_-86.84642                    50.742410
40.43134_-86.53464                    55.081819
40.48079_-87.20682                    51.730032
40.4869749155437_-87.4914180859923    58.971553
40.51432_-86.45856                    55.183031
40.53722_-86.95342                    55.070667
40.5485_-87.12477                     54.898998
40.58629_-87.43654                    54.676701
40.59057_-86.39155                    55.307808
40.70178_-86.70649                    55.482287
40.78049_-86.89576                    54.791890
40.84436_-86.18173                    54.942505
40.93894_-86.47418                    49.883742
40.9700622558594_-86.9013715815608    59.919768
40.97061_-86.35304                    55.292530
40.98224_-86.38542                    54.206106
41.01865_-86.7101                     53.836086
Name: temperature, dtype: float64

Markdown notes and sentences and analysis written here.

## Question 5

In [33]:
myDF['wind_gust_speed_mph'].value_counts()

wind_gust_speed_mph
4.0     66804
3.0     62974
9.0     57303
8.0     55178
10.0    53800
2.0     53592
0.0     52082
11.0    50639
5.0     50591
7.0     49733
6.0     48379
12.0    46565
13.0    40472
14.0    38753
15.0    34935
16.0    31942
17.0    28147
18.0    24161
1.0     23416
19.0    21196
20.0    18138
21.0    15041
22.0    12332
23.0    10689
24.0     9245
25.0     7491
26.0     6561
27.0     5569
28.0     4651
29.0     4136
30.0     3269
31.0     2594
32.0     2208
33.0     1703
34.0     1335
35.0     1027
36.0      704
37.0      566
38.0      509
39.0      346
40.0      297
41.0      230
42.0      174
43.0      130
44.0       97
46.0       69
45.0       67
47.0       33
49.0       30
50.0       26
48.0       21
51.0       11
52.0        9
55.0        7
53.0        7
54.0        5
59.0        5
57.0        3
58.0        2
60.0        1
Name: count, dtype: int64

In [34]:
myDFwindcleaned = myDF.dropna(subset = ['wind_gust_speed_mph']).copy()

In [35]:
myDF.shape

(1000000, 26)

In [36]:
myDFwindcleaned.shape

(1000000, 26)

In [37]:
myDFwindcleaned['location'] = myDFcleaned['latitude'].astype(str) + '_' +  myDFcleaned['longitude'].astype(str)

In [39]:
myDFwindcleaned.groupby('location')['wind_gust_speed_mph'].mean()

location
40.10483_-86.86619                    10.563551
40.1492432088387_-86.7371410131454    10.136323
40.16179_-87.35246                     9.032308
40.2709571472446_-87.1486035394257     9.994114
40.2967994865571_-87.3902853950858    11.560288
40.30156_-87.48248                    10.205555
40.37634_-86.59591                    10.174628
40.38116_-86.40269                    12.851717
40.3840069271445_-87.31664031744       6.184488
40.38539_-87.51034                    11.075945
40.3861140862113_-87.1012964844704     7.812415
40.42124_-86.84642                     5.974205
40.43134_-86.53464                    11.226786
40.48079_-87.20682                     6.290474
40.4869749155437_-87.4914180859923    11.720362
40.51432_-86.45856                    10.181839
40.53722_-86.95342                    11.794791
40.5485_-87.12477                     10.516033
40.58629_-87.43654                    11.681777
40.59057_-86.39155                    10.055651
40.70178_-86.70649                    10.139477
40.78049_-86.89576                    10.855496
40.84436_-86.18173                    10.285534
40.93894_-86.47418                     9.945019
40.9700622558594_-86.9013715815608    11.544695
40.97061_-86.35304                    10.843384
40.98224_-86.38542                    10.964359
41.01865_-86.7101                      8.976051
Name: wind_gust_speed_mph, dtype: float64

In [42]:
def avg_wind_speed_location(file_location) -> pd.Series: 
    """
    This function takes in a file location of the exact file that needs to be analyzed, and then creates a new dataframe where the temperature values are null. After that, 
    the function combines the latitude and longitude columns as a new column called 'location'. Finally, that new data column is grouped and then is paired with the 
    average wind gust speed for each of the location, which is the series that will be returned. 
    
    Args:
    file_location - the exact location in anvil of the specific file to be analyzed

    
    Returns:
    A series that has all the new locations and the average wind gust speed for each of the locations
    """
    myDF = pd.read_csv(file_location)
    myDFcleaned = myDF.dropna(subset = ['wind_gust_speed_mph']).copy()
    myDFcleaned['location'] = myDFcleaned['latitude'].astype(str) + '_' +  myDFcleaned['longitude'].astype(str)
    return myDFcleaned.groupby('location')['wind_gust_speed_mph'].mean()

In [43]:
avg_wind_speed_location('/anvil/projects/tdm/data/whin/weather.csv')

location
40.10483_-86.86619                    10.186783
40.1492432088387_-86.7371410131454    10.136323
40.16179_-87.35246                     9.026960
40.2709571472446_-87.1486035394257     9.993939
40.2967994865571_-87.3902853950858    11.560288
40.30156_-87.48248                    10.146300
40.37634_-86.59591                    10.174628
40.38116_-86.40269                    12.850781
40.3840069271445_-87.31664031744       6.184488
40.38539_-87.51034                    11.075690
40.3861140862113_-87.1012964844704     7.812415
40.42124_-86.84642                     5.973414
40.43134_-86.53464                    11.226047
40.48079_-87.20682                     6.290135
40.4869749155437_-87.4914180859923    11.720362
40.51432_-86.45856                    10.181839
40.53722_-86.95342                    11.794791
40.5485_-87.12477                     10.516033
40.58629_-87.43654                    11.681777
40.59057_-86.39155                    10.055651
40.70178_-86.70649                     9.843719
40.78049_-86.89576                    10.852191
40.84436_-86.18173                    10.285053
40.93894_-86.47418                     9.944437
40.9700622558594_-86.9013715815608    11.544695
40.97061_-86.35304                    10.564448
40.98224_-86.38542                    10.964359
41.01865_-86.7101                      8.975526
Name: wind_gust_speed_mph, dtype: float64

Question 5: The location with the largest wind gust speed in mph is 40.38116_-86.40269.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together â€“ We are Purdue.