# Project 06 -- Ansh Tandon

**TA Help:** John Smith, Alice Jones

- Help with figuring out how to write a function.
    
**Collaboration:** Friend1, Friend2
    
- Helped figuring out how to load the dataset.
- Helped debug error with my plot.

## Question 1

In [2]:
import pandas as pd

In [9]:
myyear = 1980

In [10]:
myfilepath = f'/anvil/projects/tdm/data/election/itcont{myyear}.txt'

In [11]:
mycolumnnames=["CMTE_ID","AMNDT_IND","RPT_TP","TRANSACTION_PGI","IMAGE_NUM","TRANSACTION_TP","ENTITY_TP","NAME","CITY","STATE","ZIP_CODE","EMPLOYER","OCCUPATION","TRANSACTION_DT","TRANSACTION_AMT","OTHER_ID","TRAN_ID","FILE_NUM","MEMO_CD","MEMO_TEXT","SUB_ID"]

In [12]:
mydictionarytypes = {"CMTE_ID": str, "AMNDT_IND": str, "RPT_TP": str, "TRANSACTION_PGI": str, "IMAGE_NUM": str, "TRANSACTION_TP": str, "ENTITY_TP": str, "NAME": str, "CITY": str, "STATE": str, "ZIP_CODE": str, "EMPLOYER": str, "OCCUPATION": str, "TRANSACTION_DT": str, "TRANSACTION_AMT": float, "OTHER_ID": str, "TRAN_ID": str, "FILE_NUM": str, "MEMO_CD": str, "MEMO_TEXT": str, "SUB_ID": int}

In [13]:
myDF = pd.read_csv(myfilepath, delimiter='|', names=mycolumnnames, dtype=mydictionarytypes)

In [14]:
myDF['TRANSACTION_DT'] = pd.to_datetime(myDF['TRANSACTION_DT'], format="%m%d%Y")

In [15]:
myDF['TRANSACTION_DT'][0:10]

0   1979-10-03
1   1979-10-26
2   1979-10-26
3   1979-10-26
4   1979-03-20
5   1979-02-28
6   1979-03-05
7   1979-03-12
8   1979-03-19
9   1979-02-27
Name: TRANSACTION_DT, dtype: datetime64[ns]

In [16]:
myDF.head()

,CMTE_ID,AMNDT_IND,RPT_TP,TRANSACTION_PGI,IMAGE_NUM,TRANSACTION_TP,ENTITY_TP,NAME,CITY,STATE,...,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,OTHER_ID,TRAN_ID,FILE_NUM,MEMO_CD,MEMO_TEXT,SUB_ID
0,C00078279,A,M11,P,80031492155,22Y,NaN,"MCKENNON, K R",MIDLAND,MI,...,NaN,NaN,1979-10-03,400.0,NaN,NaN,NaN,NaN,CONTRIBUTION REF TO INDIVIDUAL,3062020110011466469
1,C00078279,A,M11,NaN,79031415137,15,NaN,"OREFFICE, P",MIDLAND,MI,...,DOW CHEMICAL CO,NaN,1979-10-26,1500.0,NaN,NaN,NaN,NaN,NaN,3061920110000382948
2,C00078279,A,M11,NaN,79031415137,15,NaN,"DOWNEY, J",MIDLAND,MI,...,DOW CHEMICAL CO,NaN,1979-10-26,300.0,NaN,NaN,NaN,NaN,NaN,3061920110000382949
3,C00078279,A,M11,NaN,79031415137,15,NaN,"BLAIR, E",MIDLAND,MI,...,DOW CHEMICAL CO,NaN,1979-10-26,1000.0,NaN,NaN,NaN,NaN,NaN,3061920110000382950
4,C00078287,A,Q1,NaN,79031231889,15,NaN,"BLANCHARD, JOHN A",CHICAGO,IL,...,NaN,NaN,1979-03-20,200.0,NaN,NaN,NaN,NaN,NaN,3061920110000383914

In [3]:
def read_election_year (myyear: int) -> pd.DataFrame:
    """
    This function accepts a 4-digit year as input, and returns a data frame that contains information about the donations to the federal election campaigns in that year
    
    Args:
    myyear (int): The is a 4-digit year for which we will load a data frame to be returned. 
    
    Returns:
    myDF (pd.DataFrame): This is the data frame that contains the information about the donations to the fedearl election campaigns. 
    """
    myfilepath = f'/anvil/projects/tdm/data/election/itcont{myyear}.txt'
    mycolumnnames=["CMTE_ID","AMNDT_IND","RPT_TP","TRANSACTION_PGI","IMAGE_NUM","TRANSACTION_TP","ENTITY_TP","NAME","CITY","STATE","ZIP_CODE","EMPLOYER","OCCUPATION","TRANSACTION_DT","TRANSACTION_AMT","OTHER_ID","TRAN_ID","FILE_NUM","MEMO_CD","MEMO_TEXT","SUB_ID"]
    mydictionarytypes = {"CMTE_ID": str, "AMNDT_IND": str, "RPT_TP": str, "TRANSACTION_PGI": str, "IMAGE_NUM": str, "TRANSACTION_TP": str, "ENTITY_TP": str, "NAME": str, "CITY": str, "STATE": str, "ZIP_CODE": str, "EMPLOYER": str, "OCCUPATION": str, "TRANSACTION_DT": str, "TRANSACTION_AMT": float, "OTHER_ID": str, "TRAN_ID": str, "FILE_NUM": str, "MEMO_CD": str, "MEMO_TEXT": str, "SUB_ID": int}
    myDF = pd.read_csv(myfilepath, delimiter='|', names=mycolumnnames, dtype=mydictionarytypes)
    myDF['TRANSACTION_DT'] = pd.to_datetime(myDF['TRANSACTION_DT'], format="%m%d%Y")
    return myDF

In [19]:
myDF = read_election_year(1988)

In [20]:
myDF.head()

,CMTE_ID,AMNDT_IND,RPT_TP,TRANSACTION_PGI,IMAGE_NUM,TRANSACTION_TP,ENTITY_TP,NAME,CITY,STATE,...,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,OTHER_ID,TRAN_ID,FILE_NUM,MEMO_CD,MEMO_TEXT,SUB_ID
0,C00078279,A,M11,P,80031492155,22Y,NaN,"MCKENNON, K R",MIDLAND,MI,...,NaN,NaN,1979-10-03,400.0,NaN,NaN,NaN,NaN,CONTRIBUTION REF TO INDIVIDUAL,3062020110011466469
1,C00078279,A,M11,NaN,79031415137,15,NaN,"OREFFICE, P",MIDLAND,MI,...,DOW CHEMICAL CO,NaN,1979-10-26,1500.0,NaN,NaN,NaN,NaN,NaN,3061920110000382948
2,C00078279,A,M11,NaN,79031415137,15,NaN,"DOWNEY, J",MIDLAND,MI,...,DOW CHEMICAL CO,NaN,1979-10-26,300.0,NaN,NaN,NaN,NaN,NaN,3061920110000382949
3,C00078279,A,M11,NaN,79031415137,15,NaN,"BLAIR, E",MIDLAND,MI,...,DOW CHEMICAL CO,NaN,1979-10-26,1000.0,NaN,NaN,NaN,NaN,NaN,3061920110000382950
4,C00078287,A,Q1,NaN,79031231889,15,NaN,"BLANCHARD, JOHN A",CHICAGO,IL,...,NaN,NaN,1979-03-20,200.0,NaN,NaN,NaN,NaN,NaN,3061920110000383914

In [54]:
myDF = read_election_year(1980)

In [55]:
myDF.head()

,CMTE_ID,AMNDT_IND,RPT_TP,TRANSACTION_PGI,IMAGE_NUM,TRANSACTION_TP,ENTITY_TP,NAME,CITY,STATE,...,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,OTHER_ID,TRAN_ID,FILE_NUM,MEMO_CD,MEMO_TEXT,SUB_ID
0,C00078279,A,M11,P,80031492155,22Y,NaN,"MCKENNON, K R",MIDLAND,MI,...,NaN,NaN,1979-10-03,400.0,NaN,NaN,NaN,NaN,CONTRIBUTION REF TO INDIVIDUAL,3062020110011466469
1,C00078279,A,M11,NaN,79031415137,15,NaN,"OREFFICE, P",MIDLAND,MI,...,DOW CHEMICAL CO,NaN,1979-10-26,1500.0,NaN,NaN,NaN,NaN,NaN,3061920110000382948
2,C00078279,A,M11,NaN,79031415137,15,NaN,"DOWNEY, J",MIDLAND,MI,...,DOW CHEMICAL CO,NaN,1979-10-26,300.0,NaN,NaN,NaN,NaN,NaN,3061920110000382949
3,C00078279,A,M11,NaN,79031415137,15,NaN,"BLAIR, E",MIDLAND,MI,...,DOW CHEMICAL CO,NaN,1979-10-26,1000.0,NaN,NaN,NaN,NaN,NaN,3061920110000382950
4,C00078287,A,Q1,NaN,79031231889,15,NaN,"BLANCHARD, JOHN A",CHICAGO,IL,...,NaN,NaN,1979-03-20,200.0,NaN,NaN,NaN,NaN,NaN,3061920110000383914

In [56]:
myDF = read_election_year(1984)

In [57]:
myDF.head()

,CMTE_ID,AMNDT_IND,RPT_TP,TRANSACTION_PGI,IMAGE_NUM,TRANSACTION_TP,ENTITY_TP,NAME,CITY,STATE,...,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,OTHER_ID,TRAN_ID,FILE_NUM,MEMO_CD,MEMO_TEXT,SUB_ID
0,C00146845,N,MY,NaN,83012471866,15,NaN,"ANDREWS, STEPHEN K",INDPLS,IN,...,ATTORNEY,NaN,1983-02-28,500.0,NaN,NaN,NaN,NaN,NaN,3061920110001124709
1,C00167973,A,MY,NaN,83012481756,15,NaN,"ZARO, CHRISTOPHER",WAYNE,PA,...,REAL ESTATE DEVELOPER,NaN,1983-01-28,500.0,NaN,NaN,NaN,NaN,NaN,3061920110001112098
2,C00167973,A,MY,NaN,83012481756,15,NaN,"KOPROWSKI, CHRISTOPHER D MD",HAVERTOWN,PA,...,SELF-EMPLOYED,NaN,1983-06-29,1000.0,NaN,NaN,NaN,NaN,NaN,3061920110001112099
3,C00167973,A,MY,NaN,83012481756,15,NaN,"KOPROWSKI, MARY MCLAUGHLIN MD",HAVERTOWN,PA,...,PHYSICIAN,NaN,1983-06-29,1000.0,NaN,NaN,NaN,NaN,NaN,3061920110001112100
4,C00167973,A,MY,NaN,83012481757,15C,NaN,"PETERS, FREDERICK C II",NaN,NaN,...,NaN,NaN,1983-01-03,500.0,H4PA07019,NaN,NaN,NaN,NaN,3061920110001112101

Part(a): Tried 1980, 1982, 1984. 
Part(b): Read in the data properly and added the column headers and other things mentioned in the problem statement
Part(c): Yes the data that I tried does in fact make sense. 
Part(d): Yes I tried the data as well for all three years.

## Question 2

In [21]:
myyear = 1980

In [22]:
myDF = read_election_year(myyear)

In [24]:
len(myDF['CMTE_ID'].unique())

3856

In [25]:
myyear = 1984

In [26]:
myDF = read_election_year(myyear)

In [27]:
len(myDF['CMTE_ID'].unique())

3733

In [28]:
myyear = 1988

In [29]:
myDF = read_election_year(myyear)

In [30]:
len(myDF['CMTE_ID'].unique())

3995

In [87]:
def committees_function(myear: int) -> int:
    """
    This functions accepts a 4-digit year as input, and returns the number of (unique) CMTE_ID value for that year. 
    
    Args:
    myyear (int): This is a 4-digit year for which we will find the number of (unique) CMTE_ID values in that year. 
    
    Returns:
    myresult (int): This is the number of (unique) CMTE_ID value in the specified year. 
    """
    myDF = read_election_year(myear)
    myresult = len(myDF['CMTE_ID'].unique())
    return myresult

In [88]:
committees_function(1980)

3856

In [89]:
committees_function(1984)

3733

In [90]:
committees_function(1988)

3995

## Question 3

In [116]:
myDF = read_election_year(1980)

In [117]:
myDF[myDF['STATE'] == "CA"]['TRANSACTION_AMT'].sum() # This amount is reasonable in 1980, and it is shown that California contributed over 24 million dollars

24085171.0

In [118]:
myDF.groupby('STATE')['TRANSACTION_AMT'].sum().sort_values() # The top 5 are the last 5

STATE
TU         250.0
BE         750.0
CZ         950.0
EL        1000.0
AS        1500.0
         ...
IL     9105545.0
FL    10514203.0
NY    18673301.0
CA    24085171.0
TX    24472610.0
Name: TRANSACTION_AMT, Length: 61, dtype: float64

In [119]:
myDF.groupby('STATE')['TRANSACTION_AMT'].sum().sort_values().tail()

STATE
IL     9105545.0
FL    10514203.0
NY    18673301.0
CA    24085171.0
TX    24472610.0
Name: TRANSACTION_AMT, dtype: float64

In [50]:
myDF = read_election_year(1984)

In [51]:
myDF[myDF['STATE'] == "CA"]['TRANSACTION_AMT'].sum() # This amount is reasonable in 1980, and it is shown that California contributed over 24 million dollars

29265671.0

In [122]:
myDF.groupby('STATE')['TRANSACTION_AMT'].sum().sort_values() # The top 5 are the last 5

STATE
ZA         165.0
NT         500.0
UK         500.0
SZ         500.0
KO         500.0
         ...
IL    10034785.0
FL    10985587.0
NY    25947339.0
CA    29265671.0
TX    36044231.0
Name: TRANSACTION_AMT, Length: 113, dtype: float64

In [123]:
myDF.groupby('STATE')['TRANSACTION_AMT'].sum().sort_values().tail()

STATE
IL    10034785.0
FL    10985587.0
NY    25947339.0
CA    29265671.0
TX    36044231.0
Name: TRANSACTION_AMT, dtype: float64

In [124]:
myDF = read_election_year(1988)

In [125]:
myDF[myDF['STATE'] == "CA"]['TRANSACTION_AMT'].sum() # This amount is reasonable in 1980, and it is shown that California contributed over 24 million dollars

60239357.0

In [126]:
myDF.groupby('STATE')['TRANSACTION_AMT'].sum().sort_values().tail()

STATE
NJ    18934575.0
FL    25373272.0
TX    29076324.0
NY    49898456.0
CA    60239357.0
Name: TRANSACTION_AMT, dtype: float64

In [130]:
def top_five_states (myyear: int) -> pd.DataFrame:
    """
    This function accepts a 4-digit year as an input, and returns a data frame that contains information about transaction amount for the top 5 states.
    
    Args:
    myyear (int): This is a 4 digit year for which we will load a data frame to be returned.
    
    Returns:
    myDF (pd.DataFrame): This is the data frame that contains the information about the trasnaction amounts for the top 5 states.
    """
    myDF = read_election_year(myyear)
    myDF[myDF['STATE'] == "NY"]['TRANSACTION_AMT'].sum() 
    newDF = myDF.groupby('STATE')['TRANSACTION_AMT'].sum().sort_values().tail()
    return newDF

In [131]:
top_five_states(1980)

STATE
IL     9105545.0
FL    10514203.0
NY    18673301.0
CA    24085171.0
TX    24472610.0
Name: TRANSACTION_AMT, dtype: float64

In [132]:
top_five_states(1984)

STATE
IL    10034785.0
FL    10985587.0
NY    25947339.0
CA    29265671.0
TX    36044231.0
Name: TRANSACTION_AMT, dtype: float64

In [133]:
top_five_states(1988)

STATE
NJ    18934575.0
FL    25373272.0
TX    29076324.0
NY    49898456.0
CA    60239357.0
Name: TRANSACTION_AMT, dtype: float64

Markdown notes and sentences and analysis written here.

## Question 4

In [4]:
myDF = read_election_year(1980)

In [7]:
myDF.groupby('EMPLOYER')['TRANSACTION_AMT'].sum().sort_values().tail()

EMPLOYER
HOUSE WIFE    4549216.0
HOMEMAKER     4649872.0
HOUSEWIFE     5457943.0
ATTORNEY      5689870.0
RETIRED       8565354.0
Name: TRANSACTION_AMT, dtype: float64

In [8]:
myDF = read_election_year(1984)

In [9]:
myDF.groupby('EMPLOYER')['TRANSACTION_AMT'].sum().sort_values().tail()

EMPLOYER
HOMEMAKER         3372784.0
SELF EMPLOYED     3869043.0
HOUSEWIFE         6313918.0
RETIRED           9257779.0
SELF-EMPLOYED    19761941.0
Name: TRANSACTION_AMT, dtype: float64

In [10]:
myDF = read_election_year(1988)

In [11]:
myDF.groupby('EMPLOYER')['TRANSACTION_AMT'].sum().sort_values().tail()

EMPLOYER
PHYSICIAN     3104940.0
RETIRED       5865073.0
ATTORNEY      9488872.0
HOMEMAKER     9834325.0
HOUSEWIFE    14626839.0
Name: TRANSACTION_AMT, dtype: float64

In [12]:
def top_employers(myyear: int) -> pd.DataFrame:
    """
    This function accepts a 4-digit year as an input, and returns a data frame that contains information about amount given to top 5 employers.
    
    Args:
    myyear (int): This is a 4 digit year for which we will load a data frame to be returned.
    
    Returns:
    myDF (pd.DataFrame): This is the data frame that contains the information about the amount of money given to top 5 employers
    """
    myDF = read_election_year(myyear)
    newDF = myDF.groupby('EMPLOYER')['TRANSACTION_AMT'].sum().sort_values().tail()
    return newDF

In [13]:
top_employers(1980)

EMPLOYER
HOUSE WIFE    4549216.0
HOMEMAKER     4649872.0
HOUSEWIFE     5457943.0
ATTORNEY      5689870.0
RETIRED       8565354.0
Name: TRANSACTION_AMT, dtype: float64

In [14]:
top_employers(1984)

EMPLOYER
HOMEMAKER         3372784.0
SELF EMPLOYED     3869043.0
HOUSEWIFE         6313918.0
RETIRED           9257779.0
SELF-EMPLOYED    19761941.0
Name: TRANSACTION_AMT, dtype: float64

In [15]:
top_employers(1988)

EMPLOYER
PHYSICIAN     3104940.0
RETIRED       5865073.0
ATTORNEY      9488872.0
HOMEMAKER     9834325.0
HOUSEWIFE    14626839.0
Name: TRANSACTION_AMT, dtype: float64

Markdown notes and sentences and analysis written here.

## Question 5

In [52]:
myDF = read_election_year(1980)

In [53]:
myDF['TRANSACTION_AMT'][0:10]

0     400.0
1    1500.0
2     300.0
3    1000.0
4     200.0
5     200.0
6     200.0
7     300.0
8     200.0
9     200.0
Name: TRANSACTION_AMT, dtype: float64

In [28]:
myDF['TRANSACTION_AMT'].head()

0     400.0
1    1500.0
2     300.0
3    1000.0
4     200.0
Name: TRANSACTION_AMT, dtype: float64

In [37]:
myDF['TRANSACTION_AMT'].sum()

204280929.0

In [40]:
myDF.groupby('NAME')['TRANSACTION_AMT'].sum().sort_values().head()

NAME
MITCHELL, LOUIS S      -4567.0
RITTER, LOUIS          -3000.0
WILLIAMS, JACK T 2ND   -2000.0
NEWMAN, PHIL           -2000.0
NEWMAN, RUTHIS         -2000.0
Name: TRANSACTION_AMT, dtype: float64

In [42]:
myDF.groupby('NAME')['TRANSACTION_AMT'].sum().sort_values().tail()

NAME
MACKAY, KENNETH H JR                            527329.0
STONER, TOM                                     901381.0
AMERICAN MEDICAL POLITICAL ACTION COMMITTEE    1300341.0
KOCH, DAVID HAMILTON                           1675300.0
STEVENS, EARL VERN BLACKJACK                   6500000.0
Name: TRANSACTION_AMT, dtype: float64

In [43]:
myDF = read_election_year(1984)

In [44]:
myDF.groupby('NAME')['TRANSACTION_AMT'].sum().sort_values().tail()

NAME
LEVIN, ADAM K                                               864741.0
DAYTON, MARK B                                             1309474.0
MOSBACHER, ROB                                             1447800.0
SHAMIE, RAYMOND                                            1570241.0
AMERICAN MEDICAL ASSOCIATION POLITICAL ACTION COMMITTEE    2171333.0
Name: TRANSACTION_AMT, dtype: float64

In [45]:
myDF = read_election_year(1988)

In [46]:
myDF.groupby('NAME')['TRANSACTION_AMT'].sum().sort_values().tail()

NAME
TEXAS MEDICAL ASSOCIATION POLITICAL ACTION COMMITTEE-TEXPAC     486555.0
FRIENDS OF PAUL TRIBLE                                          627008.0
NATIONAL REPUBLICAN CONGRESSIONAL COMMITTEE CONTRIBUTIONS       652346.0
CALIFORNIA MEDICAL POLITICAL ACTION COMMITTEE                   705110.0
NATIONAL REPUBLICAN SENATORIAL COMMITTEE - CONTRIBUTIONS *     1602947.0
Name: TRANSACTION_AMT, dtype: float64

In [41]:
def most_popular_names_or_organizations(myyear: int) -> pd.DataFrame:
    """
    This function accepts a 4-digit year as an input, and returns a data frame that contains information about the most popular names or organizations given how much they gave.
    
    Args:
    myyear (int): This is a 4 digit year for which we will load a data frame to be returned.
    
    Returns:
    myDF (pd.DataFrame): This is the data frame that contains the information about the most popular names or organizations given how much they gave.
    """
    myDF = read_election_year(myyear)
    newDF = myDF.groupby('NAME')['TRANSACTION_AMT'].sum().sort_values().tail()
    return newDF

In [47]:
most_popular_names_or_organizations(1980)

NAME
MACKAY, KENNETH H JR                            527329.0
STONER, TOM                                     901381.0
AMERICAN MEDICAL POLITICAL ACTION COMMITTEE    1300341.0
KOCH, DAVID HAMILTON                           1675300.0
STEVENS, EARL VERN BLACKJACK                   6500000.0
Name: TRANSACTION_AMT, dtype: float64

In [48]:
most_popular_names_or_organizations(1984)

NAME
LEVIN, ADAM K                                               864741.0
DAYTON, MARK B                                             1309474.0
MOSBACHER, ROB                                             1447800.0
SHAMIE, RAYMOND                                            1570241.0
AMERICAN MEDICAL ASSOCIATION POLITICAL ACTION COMMITTEE    2171333.0
Name: TRANSACTION_AMT, dtype: float64

In [49]:
most_popular_names_or_organizations(1988)

NAME
TEXAS MEDICAL ASSOCIATION POLITICAL ACTION COMMITTEE-TEXPAC     486555.0
FRIENDS OF PAUL TRIBLE                                          627008.0
NATIONAL REPUBLICAN CONGRESSIONAL COMMITTEE CONTRIBUTIONS       652346.0
CALIFORNIA MEDICAL POLITICAL ACTION COMMITTEE                   705110.0
NATIONAL REPUBLICAN SENATORIAL COMMITTEE - CONTRIBUTIONS *     1602947.0
Name: TRANSACTION_AMT, dtype: float64

Markdown notes and sentences and analysis written here.

## Pledge

By submitting this work I hereby pledge that this is my own, personal work. I've acknowledged in the designated place at the top of this file all sources that I used to complete said work, including but not limited to: online resources, books, and electronic communications. I've noted all collaboration with fellow students and/or TA's. I did not copy or plagiarize another's work.

> As a Boilermaker pursuing academic excellence, I pledge to be honest and true in all that I do. Accountable together – We are Purdue.